* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: bisque;
}

#header {
  height: 13%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

#logo {
  /* background-color: bisque; */
  height: 70%;
}

#logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text {
  color: rgb(0, 0, 92);
  display: flex;
}
.text:hover {
  color: rgb(0, 176, 215);
}

#contactDetails {
  font-weight: lighter;
  text-align: center;
}

.icon {
  padding: 10px;
  border-radius: 50%;
}
.icon:hover {
  background-color: lightblue;
}

#login {
  padding: 10px;
  border-radius: 50px;
  display: flex;
}
#login:hover {
  background-color: lightblue;
}

#try {
  background-color: green;
  padding: 10px 20px;
  color: white;
}
#try:hover {
  background-color: black;
}

#fakeheader {
  height: 13%;
  width: 100%;
  /* background-color: yellow; */
}

#page1 {
  height: 87%;
  width: 100%;
  background-color: wheat;
}

#strip {
  width: 100%;
  height: 8%;
  background-color: rgb(11, 11, 129);
  color: white;
  /* text-align: center; */
  align-items: center;
  display: flex;
  justify-content: center;
}
#strip u {
  margin-left: 20px;
  font-weight: lighter;
}

#content {
  width: 100%;
  height: 76%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#box1 {
  height: 90%;
  width: 47%;
  background-color: white;
  border-radius: 20px;
}

#box2 {
  height: 90%;
  width: 47%;
  background-color: gray;
  border-radius: 22px;
}

#heading {
  width: 100%;
  height: 16%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(1, 1, 179);
}

#heading h1 {
  font-weight: 600;
}

#box1 h1 {
  font-weight: 600;
  color: rgb(0, 0, 80);
  font-size: 50px;
  margin: 30px 10px;
}

#box1 p {
  font-size: larger;
  margin: 30px 10px;
  font-weight: lighter;
}

#btns {
  display: flex;
}

#btn1 {
  text-align: center;
  margin: 10px;
  width: 23%;
  padding: 10px 20px;
  color: white;
  background-color: rgb(89, 213, 255);
  border-radius: 5px;
}

#btn1:hover {
  background-color: rgb(3, 75, 98);
}

#btn2 {
  text-align: center;
  margin: 10px;
  width: 23%;
  padding: 10px 20px;
  color: rgb(89, 213, 255);
  border: 1px solid rgb(89, 213, 255);
  border-radius: 5px;
}

#btn2:hover {
  background-color: lightblue;
  color: rgb(89, 213, 255);
  border-color: rgb(0, 67, 90);
}

#page2 {
  height: 87%;
  width: 100%;
  background-color: darkgray;
}
