* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  height: 300px;
  width: 230px;
  border: 1px solid salmon;
  border-radius: 20px;
  overflow: hidden;
}

#card1 {
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: salmon;
}
#card2 {
  z-index: 3;
  transform: translate(-50%, -50%) rotate(-7deg);
  rotate: -7deg;
  /* height: 280px;
  width: 210px;
  border-color: brown; */
}
#card2:hover {
  z-index: 10;
}
#card3 {
  z-index: 2;
  transform: translate(-50%, -50%) rotate(-14deg);
  rotate: -14deg;
  /* height: 260px;
  width: 190px;
  border-color: green; */
}
#card3:hover {
  z-index: 10;
}
#card4 {
  z-index: 1;
  transform: translate(-50%, -50%) rotate(-21deg);
  rotate: -21deg;
  /* height: 240px;
  width: 170px;
  border-color: gray; */
}
#card4:hover {
  z-index: 10;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
