* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-weight: normal;
}

.shape {
  margin-left: 10px;
  margin-top: 10px;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#square:hover {
  background-color: red;
}

#circle {
  /* background-color: aqua; */
  border-radius: 50%;
}

#circle:hover {
  background-color: green;
}

#diamond {
  rotate: 45deg;
  margin-top: 50px;
  height: 150px;
  width: 150px;
  translate: 30px;
}

#diamond:hover {
  background-color: blue;
}

#diamond h1 {
  rotate: -45deg;
}
