*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;

}

.colorFont{
    color: blue;
    text-align: center;
    font-weight: bold;
}

h2{
    margin: 10px;
    padding: 10px;
    background-color: aqua;
}