* {
  margin: 0%;
  padding: 0%;

}
html,body{
  width: 100%;
  height: 100%;
}

body{
  background-color: antiquewhite;
}

#box1{
  background-color: aqua;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 3;
  border-radius: 50%;
}

#box2{
  background-color: green;
  width: 30%;
  height: 30%;
}
h1{
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
}